*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

a{color: inherit; text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }

body{font:14px/1.5 Helvetica,sans-serif;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body{
  background-color: #e8e8e8;
}
.app{ 
  max-width: 995px;
  min-width: 700px;
  padding: 100px; 
  border: 1px solid #ccc;
  margin: 0 auto;
  background-color: #fff;
}
header{
  display: flex;
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
/* 头部左侧信息 */
header .message{
  width: 250px;
  height: 165px;
  flex-grow: 1;
  font-weight: bold;
  margin-top: 20px;
}
header .message li{
  padding: 6px 0;
  display: flex;
  align-items: center;
}
header .message svg{
  width: 25px;
  height: 25px;
  color: rgb(38,36,53)
}
header .message span{
  display: inline-block;
  margin-left: 12px;

}

/* 头部右侧照片 */
header .photoWrapper{
  background-color: #a6a9ac;
  width: 355px;
  height: 225px;
  position: relative;
}
.photoWrapper .position{
  width: 100px;
  height: 50px;
  background: url('./7.png') no-repeat;
  position: absolute;
  top: 0px;
  left: -100px;
}
.photoWrapper .position .positionMsg{
  width: 368px;
  height: 27px;
  background-color: rgb(240,123,123);
  position: absolute;
  top: 7px; 
  left: 100px;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  padding-right: 25px;
  line-height: 27px;
}
.photoWrapper .name{
  width: 132px;
  height: 72px;
  position: absolute;
  left: 35px;
  top: 45px;
  background-color: #808285;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 72px;

}
.photoWrapper .photo{
  width: 108px;
  height: 142px;
  position: absolute;
  right: 33px;
  top: 50px;
}
.photoWrapper .photo>img{
  width: 108px;
  height: 142px;
}

.line{
  width: 100%;
  height: 0px;
  border: .9px dotted #111;
  margin-top: 35px;
}

/* 技能介绍及其他 */
.introduction{
  margin-top:3px;
  display: flex;
}
.introduction .skills{
  width: 45%;
  flex-grow: 1;
  padding-right:20px;
}
.introduction span{
  padding: 3px 12px;
  background-color: #5d9a9d;
}
.introduction .others{
  width: 45%;
  flex-grow: 1;
  padding-left:20px;
  word-wrap: normal;
  white-space:  normal;
  word-break: break-all;
}
.introduction .others div{
  text-align: justify;
}
/* 项目展示 */
.presentation span{
  
  padding: 3px 12px;
  background-color: #5d9a9d;
}